/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #fffbf8e1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Container */
.container {
  background-color: #f3f3f1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(253, 253, 253);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Titulo */
h1 {
  color: #f7de06;
}

/* Botão */
button {
  background-color: #141411;
  color: #f7de06;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5905f5;
  color: #fff;
}

/* Lista não ordenada (ul) */
ul {
  list-style: none;
  padding: 0;
}

/* Lista (li) */
li {
  margin: 10px 0;
}

/* Parágrafos  */
p {
  color: #000000;
}

/* Seção de piadas */
.piada-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.piada-section h2 {
  color: #000;
}

.piada-section button {
  margin: 5px;
}

/* Seção de favoritos */
.favoritos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favoritos-section ul {
  list-style: none;
  padding: 0;
}

.favoritos-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoritos-section button {
  background-color: #141411;
  color: #f7de06;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Itens favoritos */
.favorito-item span {
  color: #000;
  display: block;
}

.favoritos-section button:last-child:hover {
  background-color: #f51505;
  color: #fff;
}

.favoritos-section h2 {
  color: #000;
}

/* Descrição */
.site-description {
  text-align: center;
}

/* Separador */
.separator {
  border: none;
  border-top: 2px solid #333;
  margin: 20px 0;
}
